# Pandas

Pandas ens permetrà treballar amb fulls de càlcul (ja siguin xls o csv) i fer operacions sobre taules de dades.

In [1]:
import pandas as pd

In [2]:
# Carreguem unes dades per lectura
df = pd.read_csv('data/dades.csv')
df.head(20)

         Nom  Nota
0       Paco   2.0
1      Lucia   1.0
2    Antonio   0.0
3      Ramon   0.4
4      Marta  10.0
5      Josep   0.0
6     Debora   0.0
7    Martina   3.0
8   Cristian  10.0
9    Antonio   0.0
10     Laura   NaN
11     Jesus   0.4

Pandas, internament, defineix cada columna com a un vector de numpy d'un tipus homogeni:

In [3]:
df['Nom']

0         Paco
1        Lucia
2      Antonio
3        Ramon
4        Marta
5        Josep
6       Debora
7      Martina
8     Cristian
9      Antonio
10       Laura
11       Jesus
Name: Nom, dtype: object

In [4]:
df['Nota']

0      2.0
1      1.0
2      0.0
3      0.4
4     10.0
5      0.0
6      0.0
7      3.0
8     10.0
9      0.0
10     NaN
11     0.4
Name: Nota, dtype: float64

Com que cada columna és un vector de numpy, podem fer operacions amb aquest vector.
Quina és la nota mitja de la classe?

In [5]:
import numpy as np

In [6]:
np.min(df['Nota']), df['Nota'].mean(), df['Nota'].max()

(0.0, 2.436363636363636, 10.0)

## Entenent el que hem vist

De fet, cada columna d'un `DataFrame` (taula de dades) és el que s'anomena una `Series`. Com dèiem, una sèrie és un conjunt homogeni de dades. Per exemple

In [7]:
serie_1 = pd.Series([1, 2, 3, 4])
serie_1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
serie_2 = pd.Series([1.2, 3.0, 0.0, 6.5])
serie_2

0    1.2
1    3.0
2    0.0
3    6.5
dtype: float64

Les sèries es poden unir per fer un `DataFrame`:

In [9]:
dg = pd.DataFrame(
    {
        'Nota Continua': serie_1, 
         'Nota Reav': serie_2
    }
)
dg

   Nota Continua  Nota Reav
0              1        1.2
1              2        3.0
2              3        0.0
3              4        6.5

In [10]:
# Podem canviar el nom de les files (ATENCIÓ, NOM DE FILA != COLUMNA)
dg.index = ['Pablo', 'Maria', 'Antonio', 'Lucia']
dg

         Nota Continua  Nota Reav
Pablo                1        1.2
Maria                2        3.0
Antonio              3        0.0
Lucia                4        6.5

In [11]:
# I dona una pista visual de què indiquen els noms de les files
dg.index.name = 'Nom'
dg

         Nota Continua  Nota Reav
Nom
Pablo                1        1.2
Maria                2        3.0
Antonio              3        0.0
Lucia                4        6.5

In [12]:
# I reanomenar columnes
dg.columns = ['Nota Continua', 'Nota Reavaluació']
dg

         Nota Continua  Nota Reavaluació
Nom
Pablo                1               1.2
Maria                2               3.0
Antonio              3               0.0
Lucia                4               6.5

In [13]:
# Canvis de tipus
dg['Nota Continua'] = dg['Nota Continua'].astype(float)
dg

         Nota Continua  Nota Reavaluació
Nom
Pablo              1.0               1.2
Maria              2.0               3.0
Antonio            3.0               0.0
Lucia              4.0               6.5

## Hi ha més formes de crear DataFrame's

In [14]:
pd.DataFrame(
    [
        ['Antonio', 2],
        ['Maria', 3],
        ['Asd', 99]
    ], 
    columns=['Nom', 'Nota'], index=['DNI_1', 'DNI_2', 'DNI_3'])

           Nom  Nota
DNI_1  Antonio     2
DNI_2    Maria     3
DNI_3      Asd    99

In [17]:
gen = crear_dades()
next(gen)
next(gen)
next(gen)

('c', 2)

In [16]:
def crear_dades():
    for i in range(10):
        yield 'abcdefghij'[i], i
        
pd.DataFrame(crear_dades())

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4
5  f  5
6  g  6
7  h  7
8  i  8
9  j  9

## Tornem a les dades inicials

Hi ha dues coses rares:

* El professor s'ha equivocat i tenim 2 `Antonio`s, quan realment solament n'hi ha un
* La Laura no va presentar el treball i té un `NaN`

In [18]:
df

         Nom  Nota
0       Paco   2.0
1      Lucia   1.0
2    Antonio   0.0
3      Ramon   0.4
4      Marta  10.0
5      Josep   0.0
6     Debora   0.0
7    Martina   3.0
8   Cristian  10.0
9    Antonio   0.0
10     Laura   NaN
11     Jesus   0.4

In [8]:
# Eliminem els duplicats
df_org = df
df = df.drop_duplicates() #.copy()
df

# Atenció!  Segons la versió de Pandas el drop_duplicates fa copia del dataframe o no.

         Nom  Nota
0       Paco   2.0
1      Lucia   1.0
2    Antonio   0.0
3      Ramon   0.4
4      Marta  10.0
5      Josep   0.0
6     Debora   0.0
7    Martina   3.0
8   Cristian  10.0
10      Lera   NaN
11     Jesus   0.4

In [21]:
# Posem un 0 a la Laura (no es podria fer més bonic?)
df.loc[10, 'Nota'] = 0

In [7]:
df.loc[10, 'Nom'] = "Lera"

In [22]:
df

         Nom  Nota
0       Paco   2.0
1      Lucia   1.0
2    Antonio   0.0
3      Ramon   0.4
4      Marta  10.0
5      Josep   0.0
6     Debora   0.0
7    Martina   3.0
8   Cristian  10.0
10     Laura   0.0
11     Jesus   0.4

In [23]:
df['Nota'].min(), df['Nota'].mean(), df['Nota'].max()

(0.0, 2.436363636363636, 10.0)

In [24]:
df.loc[10, 'Nota'] = np.nan
np.mean(df['Nota'])

2.6799999999999997

**Nota**: Pandas vs Numpy

In [25]:
import numpy as np
np_array = np.asarray([1, 2, np.nan, 3])
np_array.mean()

nan

In [26]:
pd_series = pd.Series([1, 2, np.nan, 3])
pd_series.mean()

2.0

### Guardem les modificacions a disc

In [ ]:
df.to_csv('dades_mod.csv', index=None)

In [8]:
pd.read_csv('data/dades.csv', index_col='Nom')

          Nota
Nom
Paco       2.0
Lucia      1.0
Antonio    0.0
Ramon      0.4
Marta     10.0
Josep      0.0
Debora     0.0
Martina    3.0
Cristian  10.0
Antonio    0.0
Laura      NaN
Jesus      0.4

# Més anàlisi de dades

In [10]:
df.head()

       Nom  Nota
0     Paco   2.0
1    Lucia   1.0
2  Antonio   0.0
3    Ramon   0.4
4    Marta  10.0

In [11]:
# Mirem quanta gent a tret la mateixa nota
df.groupby('Nota').count()[]

KeyError: 10

In [32]:
# Creem una nova columna "Reavaluació"
df.loc['Reav'] = 0 # Amb un valor igual per tothom
df.head()

       Nom  Nota  Reav
0     Paco   2.0     0
1    Lucia   1.0     0
2  Antonio   0.0     0
3    Ramon   0.4     0
4    Marta  10.0     0

In [34]:
df.loc['Reav'] = [4.99, 4.98, 4.97, 4.96, np.nan, 5.01, 4.9, 4, np.nan, 2, 1]
df

ValueError: Must have equal len keys and value when setting with an iterable

In [36]:
# Creem la nota final
has_improved = df['Reav'] > df['Nota']
has_improved.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [37]:
df.loc[has_improved, :].head()

Empty DataFrame
Columns: [Nom, Nota, Reav]
Index: []

In [38]:
df.loc[has_improved,['Nota', 'Reav']]

Empty DataFrame
Columns: [Nota, Reav]
Index: []

In [39]:
df.loc[has_improved, 'Final'] = df['Reav']
df

H:\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

           Nom  Nota  Reav  Final
0         Paco   2.0     0    NaN
1        Lucia   1.0     0    NaN
2      Antonio   0.0     0    NaN
3        Ramon   0.4     0    NaN
4        Marta  10.0     0    NaN
5        Josep   0.0     0    NaN
6       Debora   0.0     0    NaN
7      Martina   3.0     0    NaN
8     Cristian  10.0     0    NaN
10       Laura   NaN     0    NaN
11       Jesus   0.4     0    NaN
Reav         0   0.0     0    NaN

In [40]:
df.loc[~has_improved, 'Final'] = df['Nota']
df

           Nom  Nota  Reav  Final
0         Paco   2.0     0    2.0
1        Lucia   1.0     0    1.0
2      Antonio   0.0     0    0.0
3        Ramon   0.4     0    0.4
4        Marta  10.0     0   10.0
5        Josep   0.0     0    0.0
6       Debora   0.0     0    0.0
7      Martina   3.0     0    3.0
8     Cristian  10.0     0   10.0
10       Laura   NaN     0    NaN
11       Jesus   0.4     0    0.4
Reav         0   0.0     0    0.0

In [41]:
# I ara decidim qui ha aprovat
df['Aprovat'] = np.floor(df['Final']) >= 5
df

H:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           Nom  Nota  Reav  Final  Aprovat
0         Paco   2.0     0    2.0    False
1        Lucia   1.0     0    1.0    False
2      Antonio   0.0     0    0.0    False
3        Ramon   0.4     0    0.4    False
4        Marta  10.0     0   10.0     True
5        Josep   0.0     0    0.0    False
6       Debora   0.0     0    0.0    False
7      Martina   3.0     0    3.0    False
8     Cristian  10.0     0   10.0     True
10       Laura   NaN     0    NaN    False
11       Jesus   0.4     0    0.4    False
Reav         0   0.0     0    0.0    False

In [42]:
print('Han aprovat {} alumnes, un {:.4}%'.format(df['Aprovat'].sum(), df['Aprovat'].sum() * 100 / df.shape[0]))
print('Han suspés {} alumnes, un {:.4}%'.format((~df['Aprovat']).sum(), (~df['Aprovat']).sum() * 100 / df.shape[0]))

Han aprovat 2 alumnes, un 16.67%
Han suspés 10 alumnes, un 83.33%

### Matricula d'honor

In [43]:
df.head()

       Nom  Nota  Reav  Final  Aprovat
0     Paco   2.0     0    2.0    False
1    Lucia   1.0     0    1.0    False
2  Antonio   0.0     0    0.0    False
3    Ramon   0.4     0    0.4    False
4    Marta  10.0     0   10.0     True

In [44]:
nota_maxima = df['Nota'].max()
nota_maxima

10.0

In [45]:
condicio = df['Nota'] == nota_maxima
df.loc[condicio]

        Nom  Nota  Reav  Final  Aprovat
4     Marta  10.0     0   10.0     True
8  Cristian  10.0     0   10.0     True

In [46]:
files_alumnes = df.loc[df['Nota'] == nota_maxima]
files_alumnes

        Nom  Nota  Reav  Final  Aprovat
4     Marta  10.0     0   10.0     True
8  Cristian  10.0     0   10.0     True

In [47]:
noms_alumnes = df.loc[df['Nota'] == nota_maxima, 'Nom']
noms_alumnes

4       Marta
8    Cristian
Name: Nom, dtype: object

In [ ]:
# Fem una menció
for nom in noms_alumnes:
    print('Podria ser millor {}'.format(nom))

Podem iterar files també, però compte amb com s'ha de fer!

In [ ]:
dic = {'a': 1, 'b': 2}
for x in dic:
    print(x)

In [ ]:
# NO així
for fila in files_alumnes:
    print(fila)
    
# Hem iterat tots els valors, no files

In [ ]:
# SÍ
for index, fila in files_alumnes.iterrows():
    print(index)
    print(fila)
    print()

In [ ]:
def func(fila):
    print(fila.name)

df.apply(func, axis=1)

In [ ]:
df = df.drop('Nota', axis=1)
df

In [ ]:
dh = df.loc[:, ['Nom','Reav','Final','Aprovat']]
dh